<!--  author:Yiqi Zhang 
   website name: Yiqi Zhang 
   Description:Assignment1 build simple personal profile website online.
   Content page to show personal information.
 -->
<div class="row1">
                <div class="text-center">
                    <h1 class="MainPageTitle">Yiqi Zhang</h1>
                     <p>
                        Georgian college-Computer programmer(2 years)
                     </p>
                </div>
            </div>