<!--  author:Yiqi Zhang 
   website name: Yiqi Zhang 
   Description:Assignment1 build simple personal profile website online.
   Footer page: show the footer.
 --> 
        <footer class="container-fluid">
            <nav class="nav navbar-default navbar-fixed-bottom">
                <p class="navbar-text  text-center">
                   @YiqiZhang 200295414 Assignment1 COMP2068   
                </p>
            </nav>
        </footer>
    </div>
       <!-- Script session -->
    <script src="https://code.jquery.com/jquery-2.1.4.min. js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
