<!--   author:Yiqi Zhang 
   website name: Yiqi Zhang 
   Description:Assignment1 build simple personal profile website online.
   Header page: include the header.
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Yiqi Zhang</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css session -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Yiqi Zhang</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/"><i class="fa fa-home fa-2x"></i>HOME</a></li>
                <li><a href="/about"><i class="fa fa-building fa-2x"></i>About Me</a></li>
                <li><a href="/server"><i class="fa fa-newspaper-o fa-2x"></i>Services</a></li>
                <li><a href="/project"><i class="fa fa-info fa-2x"></i>Projects</a></li>
                <li><a href="/contact"><i class="fa fa-comments fa-2x"></i>Contact Us</a></li>
            </ul>
          
        </div>
    </nav>
