<!--    author:Yiqi Zhang 
   website name: Yiqi Zhang 
   Description:Assignment1 build simple personal profile website online.
   About me page:show personal informations.
 -->
<%- include partials/header.ejs %>

<!--Html session -->
 <div class="container">
        <form id="form1">
    <div>
    



              



    </div>
    </form>
     
     
     <%- include partials/footer.ejs %>
