<!--   author:Yiqi Zhang 
   website name: Yiqi Zhang 
   Description:Assignment1 build simple personal profile website online.
   contact page: display contact information
 -->
<%- include partials/header.ejs %>
<!--Html session -->

 <div class="container">
        <form id="form1">
   
              
              <div class="list-group">
                   <laber class="list-group-item">Name: Yiqi Zhang</laber>
                   <laber type="button" class="list-group-item">Email:12345678@assign.com</laber>
                   <laber class="list-group-item">Address:123456 Cook St. Barrie On Canada.</laber>
                   <laber class="list-group-item">Post Code: ABC123</laber>
                   <laber type="button" class="list-group-item">Contact Number:777-666-8888</laber>
             
                  
             </div>              
        
    </form>
     
     
     <%- include partials/footer.ejs %>
