<!--    author:Yiqi Zhang 
   website name: Yiqi Zhang 
   Description:Assignment1 build simple personal profile website online.
 -->
<%- include partials/header.ejs %>

<!--Html session -->
 <div class="container">
        <form id="form1" >
            
            <%- include partials/content.ejs %>
           
 
            <div class="row2">
                
                
                  <div class="jumbotron">
             <p>Providing relevant IT support skills and knowledge to fulfill the demands of user support and troubleshoot technical issues.                      Will provide you with confident, responsible and hard-work individual.</p>      
                </div> 
                
               
                
                  
                
                     
            </div>   
            
            
            
            
            
            
        </form>
     
     <%- include partials/footer.ejs %>
