<!--    author:Yiqi Zhang 
   website name: Yiqi Zhang 
   Description:Assignment1 build simple personal profile website online.
   project page:display personal work link.
 -->
<%- include partials/header.ejs %>
<!--Html session -->

 <div class="container">
        <form id="form1">
   <h1 class="text-center">Personal Work</h1>
    

    
    </form>
     
     
     <%- include partials/footer.ejs %>
